.hidden {
    display: none;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #fff;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul,
ol {
    margin: 0;
    padding-left: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

button {
    cursor: pointer;
}

/* Common */

.container {
    width: 320px;
    margin: 0 auto;
    padding: 0 16px;
}

@media screen and (min-width: 768px) {
    .container {
        width: 768px;
    }
}

@media screen and (min-width: 1158px) {
    .container {
        width: 1158px;

        padding: 0 15px;
    }
}




/* Header */

.page-header {
border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
        0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
        align-items: center;
        justify-content: space-between;
    
}

.nav-list .contacts {
    display: none;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.header-logo {
    padding: 16px 0;
    margin-right: 76px;
    display: block;
}

.header-logo .logo-part {
    color: #2e2f42;
}

.footer-logo .logo-part {
    color: #f4f4fd;
}

.logo-part {
    font-weight: 700;
        font-size: 18px;
    
        /* line-height: 21px; */
        line-height: 117%;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #2e2f42;
}

.nav-list {
    display: none;
    align-items: center;
    gap: 40px;
}

.nav-link {
    
    display: block;
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    position: relative;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link.current {
    position: relative;
    color: #404bbf;
}

.nav-link.current::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404bbf;
}
.contacts {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.contacts-item {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-list {
    display: none;
    align-items: center;
    gap: 40px;
    
}

.contacts-link {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
    margin-right: 0;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hidden-button {
    padding: 0;
    border: none;
    background-color: transparent;
}

.hidden-icon {
    display: block;
    fill: #2f2f37;
}



@media screen and (min-width: 768px) {
    .hidden-button{
        display: none;
    }
.page-header {
        border-bottom: 1px solid #e7e9fc;
        box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
            0px 1px 1px rgba(46, 47, 66, 0.16),
            0px 1px 6px rgba(46, 47, 66, 0.08);
    }

    .header-container {
        display: flex;
        align-items: center;
    }

    .header-nav {
        display: flex;
        align-items: center;
    }

    .logo {
        font-family: 'Raleway', sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
    }

    .header-logo {
        padding: 24px 0;
        margin-right: 76px;
    }

    .header-logo .logo-part {
        color: #2e2f42;
    }
        .footer-logo .logo-part {
            color: #f4f4fd;
        }


    .nav-list {
        display: flex;
        align-items: center;
        gap: 40px;
    }

    .nav-link {
        display: block;
        padding: 24px 0;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
        position: relative;
        color: #434455;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .nav-link.current {
        position: relative;
        color: #404bbf;
    }

    .nav-link.current::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -1px;
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background-color: #404bbf;
    }

                .contacts {
                    font-size: 16px;
                    font-style: normal;
        
                    /* line-height: 24px; */
                    line-height: 150%;
                    letter-spacing: 0.02em;
                    color: #434455;
                    margin: 0;
                    padding-left: 0;
                    display: block;
                }
        
                .contacts-list {
                    display: flex;
                    flex-direction: column;
                    gap: 12px;
                }
        
                .contacts-link {
                    font-size: 12px;
                    line-height: 1.17;
                    letter-spacing: 0.04em;
                    color: #434455;
                    margin-right: 0;
                    display: block;
                    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
                }

    
    }


@media screen and (min-width: 1158px) {
.page-header {
        border-bottom: 1px solid #e7e9fc;
        box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
            0px 1px 1px rgba(46, 47, 66, 0.16),
            0px 1px 6px rgba(46, 47, 66, 0.08);
    }

    .header-container {
        display: flex;
        align-items: center;
    }

    .header-nav {
        display: flex;
        align-items: center;
    }

    .logo {
        font-family: 'Raleway', sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
    }

    .header-logo {
        padding: 24px 0;
        margin-right: 76px;
    }

    .header-logo .logo-part {
        color: #2e2f42;
    }

    .footer-logo .logo-part {
        color: #f4f4fd;
    }

    .nav-list {
        display: flex;
        align-items: center;
        gap: 40px;
    }

    .nav-link {
        display: block;
        padding: 24px 0;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
        position: relative;
        color: #434455;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .nav-link.current {
        position: relative;
        color: #404bbf;
    }

    .nav-link.current::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -1px;
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background-color: #404bbf;
    }

.contacts {
    font-style: normal;
    margin-left: auto;
}

.contacts-item {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-list {
    display: flex;
    align-items: center;
    gap: 40px;
    flex-direction: row;
}

.contacts-link {
    display: block;
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus {
    color: #404bbf;
}
    }

/* Mobile menu */

.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.mobile-menu-container {
    position: relative;
    padding-top: 72px;
    padding-bottom: 40px;

    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: flex-start;
}

.mobile-menu-close {
    position: absolute;
    top: 24px;
    right: 24px;

    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-nav {
    margin-bottom: auto;
}

.menu-nav-ul,
.menu-link,
.menu-address-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.menu-link {
    font-weight: 700;
    font-size: 36px;

    line-height: 111%;
    letter-spacing: 0.02em;
    color: #2e2f42;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-link.current {
    color: #404bbf;
}

.mobile-menu-icon {
    fill: #2e2f42;
}

.mobile-menu-nav {
    margin-bottom: auto;
}

.menu-nav-ul {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.mobile-menu-address {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.menu-address-item {}

.menu-address-link {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-style: normal;
}

.menu-address-link.current {
    color: #4d5ae5;
}

.menu-address-link:hover {
    color: #4d5ae5;
}

.menu-social-media-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin-top: 48px;
}

.menu-social-media-list-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    fill: #fff;
    background-color: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-social-media-list-link:focus,
.menu-social-media-list-link:hover {
    background-color: #404bbf;
}

@media screen and (min-width: 768px) {
    .mobile-menu {
        display: none;
    }
}





/* Section 1 */

.hero {
    display: block;
    max-width: 320px;
    margin-left: auto;
    margin-right: auto;
    padding: 72px 0;

    background-color: rgba(46, 47, 66, 0.7);
    box-sizing: border-box;
    background-image: linear-gradient(to bottom,
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
        url("../images/Dark-bg.mob.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.hero-title {
    font-weight: 700;
    font-size: 36px;

    line-height: 111%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;

    margin: 0 auto;

    width: 216px;
    margin-bottom: 72px;
}

.order-button {
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;

    line-height: 150%;
    letter-spacing: 0.04em;
    color: #fff;

    background: #4d5ae5;
    display: block;
    min-width: 169px;
    height: 56px;
    border-radius: 4px;
    border: none;

    padding: 16px 32px;

    border-radius: 4px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);

    margin-left: auto;
    margin-right: auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-button:hover,
.order-button:focus {
    background-color: #404BBF;
}

@media screen and (min-resolution: 192dpi) {
    .button-section {
        background-image: linear-gradient(to bottom,
                rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url("../images/Dark-bg.mob@2x.jpg");
    }
}

@media screen and (min-width: 768px) {
    .hero {
        max-width: 768px;
        background-color: #2e2f42;

        padding: 112px 0;

        background-image: linear-gradient(to bottom,
                rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url("../images/Dark-bg.tab.jpg" );
    }

    .hero-title {
        width: 496px;
        font-size: 56px;
        line-height: 1.1;
        margin-bottom: 36px;
    }
}
@media screen and (min-resolution: 192dpi) {
    .button-section {
        background-image: linear-gradient(to bottom,
                rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url("../images/Dark-bg.tab@2x.jpg");
    }
}


@media screen and (min-width: 1158px) {
    .hero {
    padding: 188px 0;
        max-width: 1440px;
        background-image: linear-gradient(to bottom,
                rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url("../images/people-office1.jpg");
    }
    .hero-title {
        margin-bottom: 48px;
    }
}
@media screen and (min-resolution: 192dpi) {
    .button-section {
        background-image: linear-gradient(to bottom,
                rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url("../images/people-office@2x.jpg");
    }
}
/* section 2  feauter*/

.feauter {
    padding: 96px 0;

}

.feauter-container {
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.feauter-title {
    font-family: 'Roboto';
    color: #2e2f42;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 72px;
}

.feauter-list {
    display: flex;
    row-gap: 72px;
    flex-direction: column;
}

.feauter-item-wrapper {
    display: none;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    margin-bottom: 8px;
}

.feauter-subtitle {
font-family: var(--font-family);
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--navy-blue);
        margin-bottom: 8px;
    }



.feauter-text {
font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: var(--slate);
}

@media screen and (min-width: 768px) {
    .container {
    }

    .feauter-list{
        flex-direction: row;
        flex-wrap: wrap;
        row-gap: 72p x;
    }

    .feauter-item{
        width: calc((100% - 24px) / 2);
    }

    .feauter-subtitle {
        text-align: left;
        margin-bottom: 8px;
    }
    .feauter-text {
        font-family: var(--font-family);
            font-weight: 500;
            font-size: 16px;
            line-height: 150%;
            letter-spacing: 0.02em;
            color: var(--slate);
    }
}

@media screen and (min-width: 1158px) {
.feauter {
        padding: 120px 0;

    }
         .container {
 
         }


    .visually-hidden {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
    }

    .feauter-title {
        font-family: 'Roboto';
        color: #2e2f42;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 0.02em;
        color: #2e2f42;
        text-align: left;
        margin-bottom: 72px;
    }

    .feauter-list {
        display: flex;
        gap: 24px;
    }

    .feauter-item {
        width: calc((100% - 72px) / 4);
    }

    .feauter-item-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 112px;
        background-color: #f4f4fd;
        border-radius: 4px;
        border: 1px solid #8e8f99;
        margin-bottom: 8px;
    }

    .feauter-subtitle {
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0, 02em;
        text-align: left;
        line-height: 1.2;
        font-size: 20px;
        letter-spacing: 0.02em;
        color: #2e2f42;
        margin-bottom: 8px;
    }

    .feauter-text {
        font-family: Roboto;
        color: #434455;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
        text-align: left;
    }
}




   /* section 3 team */

.team {
    background-color: #f4f4fd;
    padding-top: 96px;
    padding-bottom: 96px;
}

.team-container {
    width: 296px;
}

.team-title {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    text-align: center;

}

.team-item {
background-color: #fff;
    border-radius: 0px 0px 4px 4px;
    margin-top: 72px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
        0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-name-container {
    padding: 32px 0;
}

.team-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 8px;
}

.team-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;
    margin: 8px;
}

.icons-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 24px;
}

.icons-list-list {
    width: 40px;
    height: 40px;
}

.icons-link {
    border-radius: 50%;
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #4d5ae5;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icons-link:hover {
    background-color: #404bbf;

}

.icons-link:focus {
    background-color: #404bbf;
}

.team-icons {
    fill: #f4f4fd;
}

@media screen and (min-width: 768px) {
    .team {
      background-color: #f4f4fd;
    }
  .team-container {
    width: 584px;

        }

  .team-list {
    flex-direction: row;
        flex-wrap: wrap;
    display: flex;
        column-gap: 24px;
        row-gap: 64px;
        }

     .team-item {
background-color: #fff;
width: calc((100% - 24px) / 2);

    border-radius: 0px 0px 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
        0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
      
     }
    
}



@media screen and (min-width: 1158px) {
.team {
        background-color: #f4f4fd;
        padding-top: 120px;
        padding-bottom: 120px;
        box-sizing: border-box;
    }

    .team-container {
        min-width: 1158px;
        padding: 0 15px;
    }

    .team-list {
        display: flex;
        flex-direction: row;
        gap: 24px;
    }

    .team-item {
        background-color: #fff;
        width: calc((100% - 72px) / 4);
        border-radius: 0px 0px 4px 4px;
        box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
            0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    }

}



/* section 4 portfolio */


.portfolio {
    padding-top: 96px;

}

.portfolio.container {
    max-width: 320px;
}

.portfolio-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.portfolio-list {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #2e2f42;
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;

}

.portfolio-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.portfolio-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;
}

.portfolio-item {

    box-sizing: border-box;

    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.portfolio-category {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}


.portfolio-overlay {
    position: relative;
    overflow: hidden;


}

.paragraph-overlay {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #4d5ae5;

    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);


}

@media screen and (min-width: 768px) {
    .portfolio {
        background-color: #fff;
        padding: 96px 0;
    }

    .portfolio-title {
        text-align: center;
    }

    .portfolio-container {
        min-width: 768px;
    }

    .portfolio-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        row-gap: 72px;
        column-gap: 24px;
    }

    .portfolio-item {
            transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
                width: calc((100% - 24px) / 2);
    }

}

@media screen and (min-width: 1158px) {
    .portfolio {
        background-color: #fff;
        padding: 120px 0;
    }

    .portfolio-container {
        min-width: 1158px;
    }

    .portfolio-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 48px;
    }

    .portfolio-item {
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
        width: calc((100% - 48px) / 3);
    }
        .portfolio-overlay {
            position: relative;
            overflow: hidden;
    
    
        }
    
        .paragraph-overlay {
            font-family: "Roboto", sans-serif;
            font-weight: 400;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            color: #f4f4fd;
            padding: 40px 32px;
            position: absolute;
            top: 0;
            height: 100%;
            width: 100%;
            background-color: #4d5ae5;
    
            transform: translateY(100%);
            transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    
        }
    
        .portfolio-item:hover .paragraph-overlay {
            transform: translateY(0);
    
        }
    
        .portfolio-item:hover {
            box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
                0px 1px 1px rgba(46, 47, 66, 0.16),
                0px 2px 1px rgba(46, 47, 66, 0.08);
        }
}




/* Footer */

.footer {
    background-color: #2e2f42;
    padding: 96px 0;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    row-gap: 72px;
}

.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    display: inline-block;
    margin-bottom: 16px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.footer-logo-part {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;

    /* line-height: 21px; */
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;
}

.footer-text {
    max-width: 288px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    text-align: left;
}

.footer-box-link{
    align-items: center;
}

.footer-social {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
}

.footer-list {
    display: flex;
    gap: 16px;
}

.footer-icon-list{
    width: 40px;
    height: 40px;
}

.footer-icon-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icon-link:hover {
    background-color: #31d0aa;
}

.footer-icon-link:focus {
    background-color: #31d0aa;
}

.icon-footer {
    fill: #f4f4fd;
}

.mailing-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mailing-list-text {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
}

.mailing-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 16px;
}

.form-input{
    width: 288px;
    height: 40px;
    padding: 8px 0px 8px 16px;
    background-color: transparent;
    border: 1px solid #ffffff;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px #00000026;
    color: #ffffff;

    opacity: 0.3;
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
}

.form-input::placeholder {
    color: #ffffff;
}

.form-input:placeholder-shown {
    border-color: #ffffff;
}

.subscribe-btn {
    width: 165px;

    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;

    background-color: #4d5ae5;
    border-radius: 4px;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin: auto;
}

.subscribe-btn:hover,
.subscribe-btn:focus {
    background-color: #31d0aa;
}

.subscribe-icon {
    margin-left: 16px;
    fill: #ffffff;
}

@media screen and (min-width: 768px) {
    .footer-container {
        min-width: 768px;

        justify-content: flex-start;
        text-align: start;
        column-gap: 24px;
        padding-left: 108px;
    }

    .social-media-footer {
        flex-direction: row;
        gap: 24px;
    }

    .footer-description {
        max-width: 264px;
    }

    .subscribe-form {
        flex-direction: row;
        gap: 24px;
    }

    .subscribe-input {
        width: 264px;
    }

    .social-media-para {
        text-align: left;
        margin-top: 0;
    }

    .mailing-list{
        display: inline-block;
        flex-direction: row;
        align-items: center;
    }
    .mailing-form{
        flex-direction: row;
        gap:  24px;
    }
    .form-input {
        width: 264px;
    }
}

@media screen and (min-width: 1158px) {
    .footer {
        padding: 12 0px 0;
    }

    .footer-container {
        max-width: 1158px;

        align-items: baseline;
        gap: 0;
        padding-left: 15px;
    }

.footer-box-link {
    margin-left: 120px;
}

    .mailing-list {
        margin-left: auto;
    }
          .form-input {
              width: 264px;
          }
}






.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 318px;
    min-height: 584px;
    background: #fcfcfc;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px 24px;
}

.modal-close-button {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-button:hover {
    background-color: #404bbf;
    border: none;
}

.modal-close-button:focus {
    background-color: #404bbf;
    border: none;
}

.modal-close-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.modal-close-button:hover,
.modal-close-button:focus {
    background-color: #404BBF;
    border: none;
}

.modal-close-button:hover .modal-close-icon,
.modal-close-button:focus .modal-close-icon {
    fill: #FFFFFF;
}










.modal-slogan {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 16px;
}

.modal-form-wrapper {
    margin-bottom: 8px;
}




.modal-form-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: block;
    margin-bottom: 4px;
}

.form-input-wrapper {
    position: relative;
}

.modal-form-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus {
    border-color: #4D5AE5;
}

.modal-form-input-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus-within+.modal-form-input-icon {
    fill: #4D5AE5;
}





.modal-form-wrapper-comment {
    margin-bottom: 16px;
}

.user-comment {
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.user-comment:focus {
    border-color: #4D5AE5;
}

.modal-form-checkbox-wrapper {
    margin-bottom: 24px;
}


.modal-form-checkbox-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.custom-checkbox {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    margin-right: 5px;
}

.modal-form-checkbox:checked+.modal-form-checkbox-label>.custom-checkbox {
    background-color: #404bbf;
    ;
    fill: #F4F4FD;
    ;
    border: none;
}

.checkbox-icon {
    color: #4d5ae5;

}


.policy-link {
    color: #4d5ae5;
}


.modal-form-submit-button {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4d5ae5;
    min-width: 169px;
    height: 56px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: none;
    border-radius: 4px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-submit-button:hover,
.modal-form-submit-button:focus {
    background-color: #404bbf;
}






@media screen and (min-width: 768px) {
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 408px;
    min-height: 584px;
    background: #fcfcfc;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px 24px;
}
}